.header {
    width: 100vw;
    height: 80px;
    margin: 0 auto;

    background-color: cadetblue;
    border-bottom: 4px solid #3f888a;
}

.navigation {
    width: 90%;
    height: 100%;
    margin: 0 auto;


    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    flex: 1;
    height: 100%;

    font-weight: 700;
    font-size: 2.3rem;
    color: #265657;
    font-family: "DOCKER THREE", serif;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list_menu {
    width: 35%;
    height: 100%;
}

ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 3px #313131;
}

li {
    width: 23%;
    height: 70%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s ease-in-out;
    border-radius: 5px;
    /*border: 1px solid #ffffff;*/
    box-shadow: 1px 3px 7px 1px #313131;
}

li:hover {
    cursor: pointer;
    background-color: #054a4b;
    color: #fff;

    transform: translate(-3px, -3px);
}

@media (max-width: 1600px)  {
    .list_menu {
        width: 60%;
        height: 100%;
    }
}